[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
gunicorn = "*"
pymysql = "*"

[dev-packages]
httpie = "*"

[requires]
python_version = "3.6.6"
